.button {
    font-weight: 800;
    border: none;
    line-height: 1;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}
.button--primary {
    border-radius: 10px;
    background-color: #007bfa;
    color: #fff;
    padding: 10px 25px;
}
.button--red {
    color: #eb5648;
}
.button--blue {
    color: #3a72aa;
}
