.profile {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 80%;
}
.profile__sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.profile__title {
    font-weight: 800;
    font-size: 1.25rem;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
}
.menu__item {
    list-style: none;
}

.profile__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
