/* ====================
    HERO
=======================*/

.hero {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.hero__inner {
    width: 20%;
}
.hero__description {
    font-size: 2.25rem;
}
.hero__catchphrase {
    margin-top: 50px;
    font-size: 1.125rem;
    font-weight: 800;
}
.hero__icon {
    width: 50%;
}

/* ====================
    WHERE-TO-GO
=======================*/
.where-to-go {
    position: relative;
    margin-top: 150px;
    padding: 50px 0;
}
.where-to-go::before {
    content: "";
    background-image: url("./Home_2.svg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}
.where-to-go__z-index {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.where-to-go__h2 {
    text-align: center;
}
.where-to-go__inner {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.where-to-go__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* ====================
    LAST-ADDED-TRACKS
=======================*/
.last-added-routes {
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    width: 50%;
    align-items: center;
    gap: 50px;
}
.last-added-routes__first-inner {
    display: grid;
    gap: 50px 100px;
    grid-template-columns: repeat(3, 1fr);
}
.last-added-routes__box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
}
.last-added-routes__path {
    font-weight: 800;
}
.last-added-routes__date {
    font-size: 0.75rem;
    font-weight: 200;
}
