.add-route {
    display: flex;
    margin: auto;
    justify-content: center;
}
.add-route__form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.add-route__first-inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.add-route__second-inner {
    display: flex;
    flex-direction: column;
}
.add-route__group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Tymczasowo */
.date {
    font-weight: 800;
    line-height: 1;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}
